<!DOCTYPE html>

<script type="module" src="./controlador.js"> </script>

<script type = "text/javascript">

    function validarEnviar(){
        let chequeo = true
        let nombreCliente = document.querySelector("#nombreCliente").value 
        let cantidadDePersonas = document.querySelector("#cantidadDePersonas").value
        let fecha = document.querySelector("#fecha").value
        let turno =document.querySelector("#turno").value
        if(nombreCliente ==""){
            chequeo = false
        }
        if(cantidadDePersonas ==""){
            chequeo = false
        }
        if(fecha ==""){
            chequeo = false
        }
        if(turno==""){
            chequeo = false
        }
        if(chequeo==true){
            servicioReservas.crearReserva(nombreCliente,cantidadDePersonas,1,fecha,turno)
            servicioReservas.listarReservas();
            alert("Su reserva se a realizado exitosamente")
        } else{
            alert("Complete todos los campos requeridos.")
        }
    }
</script>

<h1>Reservas</h1>

<form id = "form-reservas">
    <p id="listado"></p>

    <label> Ingrese su nombre</label>
    <input type = "text" id = "nombreCliente" required><br>
    <label>Ingrese la fecha</label>
    <input type = "date" id = "fecha" required><br>
    <label>Ingrese la cantidad de personas</label>
    <input type = "number" id = "cantidadDePersonas" min="1" max="15" required><br>
    <label>Elija el turno</label>
    <select id = "turno" required>
        <option selected></option>
        <option value = "1">Mediodía</option>
        <option value = "2">Noche</option>
    </select> <br>
    <button onclick="validarEnviar()">Chequear disponibilidad</button>
</form>



<!-- json-server --watch db.json // para que el servidor de json empiece a recibir conexiones para trabajar con db.json -->